html,body{
  overflow-x: hidden;  
  overflow-y: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: auto; 
}

.container {
  .row{
    .col{

    }
  }
}

main {
  // feel free to adjust this for whatever suits the footer's height -- I prefer not to set a footer height for mobile
  padding-top: $navbar-height;
  //min-height: calc(62vh - (#{$navbar-height}));
  margin: 0 auto;

}

section {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 75px 0;
  @media (max-width: $sm) {
    padding: 50px 0;
  }
}

/*remove don arrow in select for ie11*/
select::-ms-expand {
    display: none;
}

.bg-white {
  background-color: $white;
}

.bg-gray {
  background-color: $light-gray;
}

.nowrap{
  white-space: nowrap;
}